$accent-color: #eb6f4c;
$accent-color-hover: #c45435;
$accent-color-active: #ae4a2e;
$text-color: #343a40;
$text-color-secondary: rgba(52, 58, 64, 80%);
$text-color-inverse: #fff;
$background: #fff;
$background-inverse: #343a40;
