@import '../../styles/variables';
@import '../../styles/colors';

.general-data {
    width: 837px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.data-item {
    width: 87px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-family: 'Roboto';
    font-style: normal;

    &__time {
        font-weight: 400;
        font-size: 32px;
        line-height: 38px;
        color: $text-color-secondary;
    }

    &__weather-type {
        margin: 20px 0px 25px 0px;
    }

    &__temperature {
        font-weight: 400;
        font-size: 32px;
        line-height: 38px;
    }
}
