@import '../../styles/variables';
@import '../../styles/colors';

.today-weather {
    width: 100%;
    min-height: 405px;

    display: flex;
    align-items: center;
    justify-content: center;

    .container {
        width: $container-max-width;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

@media (max-width: 1092px) {
    .today-weather {
        .container {
            width: 90%;
            justify-content: center;

            .average-data {
                margin-top: 50px;
            }
            .general-data {
                margin-top: 20px;
            }
        }
    }
}

@media (max-width: 575px) {
    .today-weather {
        .container {
            width: 90%;
            justify-content: center;
            .general-data {
                flex-direction: column;
                align-items: center;

                .data-item {
                    margin: 25px 0;
                }
            }
        }
    }
}
